* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: #b5a789;
}

.flex-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.width-limiter {
    max-width: 1200px;
}

main {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.side-column {
    flex-basis: 90px;
    flex-grow: 3;
}

.content-column {
    flex-basis: 210px;
    flex-grow: 7;
}

header {
    background-color: #675c47;
    margin: 0 10px 10px 10px;
}

h1 {
    font-size: 120%;
    color: darkred;
    text-align: center;
}

/******************************************************************/
/******************************HEADER******************************/
/******************************************************************/
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #675c47;
    font-family: Arial, serif;
    margin: 0 10px 10px 10px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a.navbar-login {
    float: right;
    text-align: center;
}

/* The dropdown container */
.navbar-dropdown {
    float: right;
    overflow: hidden;
}

/* Dropdown button */
.navbar-dropdown .navbar-dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .navbar-dropdown:hover .navbar-dropbtn {
    background-color: #b5a789;
}

/* Dropdown content (hidden by default) */
.navbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #b5a789;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.navbar-dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.navbar-dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.navbar-dropdown:hover .navbar-dropdown-content {
    display: block;
}

/******************************************************************/
/******************************BODY********************************/
/******************************************************************/

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.container {
    padding: 16px;
    text-align: center;
}

button, section#main button {
    background-color: #675c47;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    font-family: Arial, serif;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

div#tableContainer {
    display: table;
    border-collapse: collapse;
    margin: 10px;
    /*width: 98%;*/
}

body section#user-actions, section#user-actions:hover, section#user-actions.active {
    display: table-cell;
    background-color: #efe5d0;
    width: 13%;
    padding: 15px;
    vertical-align: top;
    color: #675c47;
}

body section#main {
    display: table-cell;
    background: #efe5d0;
    font-size: 105%;
    padding: 15px;
    vertical-align: top;
}

.pagination {
    text-decoration: none;
    color: #675c47;
    text-align: center;
}

.pagination-text {
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #b5a789
}

table tr td a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    text-align: center;
}

th, td {
    text-align: center;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.description {
    text-align: center;
}

.error-message {
    text-align: center;
}

.description a {
    text-decoration: none;
    color: black;
}

.user-description p {
    text-align: center;
}

/******************************************************************/
/******************************FOOTER******************************/
/******************************************************************/

footer {
    background-color: #675c47;
    color: #efe5d0;
    text-align: center;
    padding: 15px;
    margin: 0 10px 10px 10px;
    font-size: 90%;
}